@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PDK's Library</h1>
    <p>Please click to the most leftest corner :).</p>
</div>
